.navbar{  

    height: 15dvh;
    }

.logo {
    font-family: 'Nosifer', cursive;          
}

.nav-item {
    font-family: 'Reggae One', cursive;
    margin-left: 2%;
}
.navbar-dropdown {
    z-index: 999 !important;
}